img {
    width: 500px;
}
.logo {
    width: 130px;
    margin: 10px;
    vertical-align: middle;
}
nav {
    display: inline-block;
}
.li-a {
    display: inline-block;
    margin: 10px 30px;
    vertical-align: middle;
}
.active {
    color: red;
}
.mineimg-div {
    width: 1100px;
    height: 700px;
    margin: 0 auto;
}
.mine-img {
    width: 1050px;
}
.two-box {
    width: 850px;
    margin: 0 auto;
    padding: 10px;
    
}
.left-box {
width: 400px;
background-color: rgb(133, 123, 123);
display: inline-block;
}
.right-box {
    width: 400px;
    background-color: rgb(133, 123, 123);
    display: inline-block;
}
.img-in {
    width: 70px;
    display: inline-block;
    padding: 5px;
}
.text-in {
    display: inline-block;
    width: 300px;
    padding: 5px;
}
/* now start article */
.data-day {
    width: 50px;
    height: 50px;
    background-color: rgb(22, 22, 165);
    font-size: 38px;
    color: aliceblue;
    margin-top: 20px;
    margin-left: 10px;
}
.data {
    font-size: 20px;
    color: rgb(22, 22, 165);
    margin: 0 0 20px 10px;
}
.text-box {
    display: inline-block;
    width: 800px;
    vertical-align: top;
    margin-top: 10px;
    
}
.article-img {
    width: 300px;
    margin: 10px;
}
.smoll-text {
    
}
.big-text {
    padding-top: 10px;
}
.article-title {
    margin-left: 10px;
}